

*{
    font-family: 'avenir-arabic Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    transition: all .5s ease-in-out;
}
section{
    padding-top: 100px;
    overflow: hidden;
}

.btn{
    width: 200px;
    background-color: var(--blue);
    border: none;
    border-radius: 20px;
}
.btn a{
    text-decoration: none;
    color: #fff;
}
h3{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 50px;
}

/* start variables  */
:root{
    --main: #07708e;
    --blue: #0DC4F8;
    --green: #0DFA9E;

}
/* end variables  */



/* start nav bar  */
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 1000;
}
nav .navbar-brand{
    width: 70px;
}
.navbar-brand img{
    width: 100%;
    background-size: cover;
}

nav .navbar-collapse{
    flex-grow: 0;
    font-weight: bold;
}
nav .nav-item{
    margin: 0 20px;
}
.navbar-light .navbar-nav .nav-link {
    color: black; 
    position: relative;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link.activ{
    color: var(--main);
}
.navbar-light .navbar-nav .nav-link::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition: ease-in-out 0.5s;
    background: linear-gradient(to left , var(--blue) , var(--green));
}
.navbar-light .navbar-nav .nav-link:hover::after,
.navbar-light .navbar-nav .nav-link:focus::after,
.navbar-light .navbar-nav .nav-link.active::after{
    width: 100%;
}

/* end  nav bar  */

/********** start side bar **********/



header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:70vw;
    background:#1a1a1a;
    display: none;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 16px 0;
}
.show{
    display: flex;
}

#close i{
    color: #0DFA9E;
    font-size: 35px;
    position: absolute;
    left: 20px;
    top: 20px;
}
header .user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 16px;

}
header .user .image{
    width: 150px;
    object-fit: cover;
    margin-bottom: 16px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #0DFA9E;
}
header .user .image img{
    max-width: 100%;
    background-size: cover;
    border-radius: 50%;
}

header .user .name,.post{
    color:#fff;
}

header .links{
    width:80%;
}

header .links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}


header .links ul li {
    display: block;
    padding: 10px;
    margin: 5px 0;
    background: #333;
    border-radius: 25px;
    width: 100%;
    text-decoration: none;
}
header .links ul li a{
    color: #fff;
    text-decoration: none;
}


header .socials a {
    color: #0DC4F8;
    font-size: 30px;
}
header .socials a i{
    margin-right: 20px;
}
header .socials a i:hover{
    color: white;
    transform: scale(1.5);
}

header .navbar ul li a:hover{
    transform: scale(0.9);
}


/********** end side bar **********/







/********** start first section **********/

.first{
    background: url(../images/bunners/banner-0.png) center no-repeat;
    height: 100vh;
    min-width: 100%;
    background-size: cover;
}
.first .overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000, transparent);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}
.first .info{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}
/********** end  first section **********/






/********** start bunner **********/

.bunner .info{
    display: flex;
    flex-direction: column;;
}
.bunner .info h2{
    font-size: 35px;
    color: var(--main);
    margin-bottom: 50px;
    min-height: 33%;
}
.bunner .info p{
    color: var(--blue);
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
}
.bunner .info .btn{
    width: 200px;
    background-color: var(--blue);
    border: none;
    border-radius: 20px;
}
.bunner .info .btn a{
    text-decoration: none;
    color: #fff;
}

.bunner .image{  
    margin-bottom: 20px;
}
.bunner .image img{
    max-width: 100%;
    border-radius: 5px;
}
@media (max-width:768px){
    .bunner .row{
        flex-direction: column-reverse;
    }
    .bunner .info .btn{
        max-width: 100%;
    }
}
/********** end bunner **********/



/********** start services **********/
.services .service{
    margin-bottom: 40px;
    position: relative;
}
.services .image{
    display: inline-block;
    background-color: #fff;
    width: 150px;
    height: 150px;
    border: 2px solid var(--green);
    border-radius: 50%;
}

.services .rebin{
    width: 70%;
    height: 35px;
    border-radius: 20px;
    background-color: var(--green);
    display: block;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translatey(-35px);
    z-index: -1;
}
.services h4{
    color: var(--blue);
    margin: 15px 0;
    font-size: 20px;
}

/********** end services **********/





/********** start adverticment **********/

.adverticment .image img{
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}



.adverticment .info{
    display: flex;
    flex-direction: column;;
}
.adverticment .info h2{
    font-size: 35px;
    color: #707070;
    font-weight: bold;
    margin-bottom: 50px;
}
.adverticment .info p{
    color: #888686;
    font-weight: bold;
    margin-bottom: 30px;
}
.adverticment .info ul li{
    color: #888686;
    padding-right: 10px;
    margin-bottom: 20px;
}
@media(max-width:768px){
    .adverticment .info h2 {
        font-size: 20px;
    }
}

/********** end adverticment **********/





/********** start heading **********/

.heading .container{
    color: #fff;
    text-align: center;
    background: linear-gradient(to left , var(--blue) ,var(--green));
    padding: 20px;
    margin-top: 60px;
    border-radius: 15px;

}

.heading h5{
    font-size: 25px;
    font-weight: bold;
}

/********** end  heading **********/





/********** start media **********/


.media .image img{
    width: 100px;
    height: 100px;
    border: 2px solid var(#09B371);
    border-radius: 50%;
    margin-bottom: 10px;
}

.media h4{
    margin: 15px 0;
    font-size: 20px;
    color: #09B371;
}

.media h3{
    text-align: center;
    color: #09B371;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: bold;
}

/********** end media **********/





/********** start testimonials on mobile **********/
.mobile-testimonials-container{
    display: none;
}
.mobile-testimonials{
    background-color: #07708e;
    margin-top: 20px;
}

.carousel-item{
    text-align: center;
}
.carousel-item .image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-testimonials img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid var(--green);
    margin: 20px 0;
}
.mobile-testimonials h6{
    margin-bottom: 30px;
    color: var(--green);
    font-size: 20px;
    font-weight: bold;
}
.mobile-testimonials p{
    color: #fff;
}


/********** end testimonials on mobile **********/






/********** start testimonials on desktop**********/

.testimonials{
    background-color: #07708E;
    width: 100%;
    height:500px;
    margin-top: 100px;
    color: #fff;
}
.testimonials h3{
    padding-top: 50px;
}

.testimonials .person img{
    width: 150px;
    height: 150px;
    max-width: 100%;
    border-radius: 50%;
    border: 2px solid var(--green);
    margin-bottom: 20px;
}
.testimonials .person h6{
    margin-bottom: 30px;
    color: var(--green);
    font-size: 20px;
    font-weight: bold;
}


@media (max-width:768px){
    .mobile-testimonials-container{
        display: block;
    }
    .testimonials{
        display: none;
    }
}

/********** end testimonials on desktop **********/




/********** start about **********/

.about .info h2{
    color: #078F5A;
}
.about .info p{
    color: #09B371;
    font-size: 20px;
    max-width: 90%;

}
.about .info .btn{
    margin-bottom: 10px;
}
.about .info .course> a{
    display: block;
    text-decoration: none;
    color: var(--green);
    margin-right: 5px;
}
.about .image{
    display: flex;
    justify-content: flex-end;
}
/********** end about  **********/




/********** start steps  **********/


.steps h3{
    text-align: center;
    color: #09B371;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: bold;
}
.steps h3{
    margin-bottom: 70px;
    color: var(--main);
}
.steps .image {
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 25px;
    border: 2px solid var(--blue);
    border-radius: 50%;
    margin-bottom: 10px;
}
.steps .image img{
    width: 100px;
    height: 100px;

}

.steps h4{
    font-size: 15px;
    color: var(--blue);
    margin-bottom: 30px;
}

/********** end steps  **********/




/********** start facilitates on mobile **********/

.facilitates{
    margin-top: 30px;
    background-color: #09B371;
    padding-bottom: 50px;
}
.facilitates h4{
    color: #fff;
}
.facilitates .btn-container{
    margin-top: 20px;
    text-align: center;
}


.on-mobile{
    display: none;
}
@media (max-width:768px){
    .on-mobile{
        display: block;
    }
    .on-desktop{
        display: none;
    }
}
/********** end facilitates on mobile  **********/


/********** start facilitates on desktop  **********/
.facilitates h3{
    color: #fff;
    margin-top: -50px;
}

.facilitates .info p{
    color: #97FDD5;
    margin: 30px 0 60px;
}   
.facilitates .image{
    text-align:end;
}
.facilitates .image img{
    max-width: 210px;
}
/********** end facilitates on desktop  **********/





/********** start big heading  **********/
.big h5{
    font-size: 35px;
}
/********** start big heading  **********/



/* start portfolio */

.portfolio h3{
    margin-top: 100px;
    color: var(--blue);
}
.portfolio .container p {
    text-align: center;
    font-size: 20px;
    color: #07708E;
}


.projects-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

@media(max-width:767px){
    .portfolio{
        display: none;
    }
    .projects-container .project{
        flex-basis: 1000%;
    }
}
@media(min-width:768px){
    .projects-container .project{
        flex-basis: 50%;
    }
}
@media(min-width:992px){
    .projects-container .project{
        flex-basis: 25%;
    }
}
.projects-container .project{
    position: relative;
    overflow: hidden;
}
.projects-container .project img{
    max-width: 100%;
    transition: 0.5s;
}
.projects-container .project .caption{
    position: absolute;
    background-color: rgba(2, 2, 2, 0.8);
    bottom: -150%;
    width: 100%;
    padding: 20px;
    color: #fff;
}
.projects-container .project .caption h3{
    font-weight: normal;
}
.projects-container .project:hover img{
    transform: rotate(3deg) scale(1.1);
}
.projects-container .project:hover .caption{
    bottom: 0;
}


/* end portfolio */



/********** start recommendations  **********/

.recommendations{
    background-color:#FFFFF6 ;
}
.recommendations h4{
    color: #09B371;
}
@media(max-width:768px){
    .recommendations{
        display: none;
    }
}
/********** end recommendations  **********/






/********** end couses  **********/

.courses{
    margin-top: 100px;
    padding: 5px 0;
    background: rgb(220, 247, 254);
}
.courses h3{
    color: #07708e;
}
.courses .image img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.courses h4{
    color: #0BA8D5;
    font-size: 25px;
    margin-bottom: 25px;
}
.courses .btn{
    margin-bottom: 50px;    
    background: linear-gradient(to left , var(--blue) , var(--green) );
}
/********** end courses  **********/





/********** start our work   **********/

.our-work{
    padding: 50px 0;
}
.our-work h3{
    margin-bottom: 100px;
}
.our-work .image img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.our-work h4{
    font-size: 25px;
    font-weight: bold;
}
.btn-container{
    text-align: center;
}
.btn-container .btn{
    display: inline-block;
}
/********** end our work   **********/







/********** start book   **********/
.book{
    margin-bottom: 100px;
}
.book .info p{
    font-size: 16px;
    font-weight: normal;
}
.book form input{
    display: block;
    margin-bottom: 20px;
    background-color: #DCF7FE;
    width: 100%;
    height: 50px;
    padding: 15px;
    border-radius: 5px;
    color: #2E2E2E;
    font-size: 20px;
}
.book .image{
    border: none;
}

/********** end book   **********/




/********** start to top *************/

.btn-gotop {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 60px;
    right: 30px;
    border: solid 1px #dddddd;
    border-radius: 50%;
    color: #dddddd;
    background-color: transparent;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s; 
} 
.show {
    opacity: 1;
}

i{
    font-size: 24px;
}

.show:hover {
    border: 1.5px solid steelblue;
    background-color: steelblue;
}

/********** end to top *************/






/********** Sstart footer **********/

footer{
    padding: 60px 0;
    background-color: #242f3d;
    color: white;
    font-weight: bold;
}
footer .logo{
    width: 100px;
    margin-bottom: 15px;
    display: inline-block;
}
footer .logo img{
    max-width: 100%;
    background-size: cover;
}


footer .copywrites{
    margin-bottom: 15px;
}
footer .copywrites p{
    margin-bottom: 0;
}

footer .socials a{
    color: white;
    font-size: 25px;
    margin-left: 15px;
}


footer h3{
    color: var(--green);
    margin-bottom: 15px;
    margin-top: 0;
    text-align: right;
}
footer ul{
    list-style: none;
}
footer ul li{
    margin-bottom: 5px;
}
footer ul li a{
    color: white;
    text-decoration: none;
}
footer ul li a:hover{
    color: var(--blue);
}
/********** end footer **********/







/********** start sign up page  **********/


.sign-up{
    background: url(../images/login-pattern.svg) fixed;
    width: 100%;
}
.sign-up .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.sign-up .bord{
    background-color: #fff;
    width: 70%;
    padding: 30px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    margin: 100px 0;
}

.sign-up h2{
    margin-bottom: 30px;
}
.sign-up .bord .form-control{
    margin-bottom: 30px;
}
.sign-up .bord .form-select{
    width: 46%;
    margin: 0 2% 30px;
}


.sign-up .bord a{
    text-decoration: none;
    font-weight: bold;
}
.sign-up .bord .btn-container{
    text-align: center;
    margin: 20px 0;
}

.sign-up .bord .googl-btn{
    border-radius: 10px;
    width: 230px;
    padding: 15px;
    background-color: #fff;
    border: 2px solid #ccc;
}

@media(max-width:768px){
    .sign-up .bord{
        width: 100%;
    }
    .sign-up .bord .form-control{
        margin-top: 0;
        margin-bottom: 15px;
    }
    .sign-up .bord .form-select{
        margin-bottom: 15px;
    }
}
/********** end sign up page **********/






/********** start sign in page **********/
.sign-in .bord{
    width: 480px;
    padding: 20px 70px;
}
.sign-in .bord .image{
    width: 150px;
    margin: 5px auto;
}
.sign-in .bord .image img{
    max-width: 100%;
}
.sign-in .bord h2{
    text-align: center;
}
.sign-in .bord .form-control {
    margin-bottom: 15px;
}
.sign-in .bord .btn{
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    border: 2.5px solid #707070 !important;
    margin: 15px 0;
}

@media(max-width:768px){
    .sign-in .bord{
        padding: 30px;
    }
}
/********** end sign in page **********/






/********** start contact us page  **********/
.contact-us h3{
    margin-top: 100px;
}

.contact-us .bord{
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 50px;
}
.contact-us .image img{
    max-width: 100%;
}

.contact-us form .btn{
    width: 100%;
    border-radius: 5px;
}
/********** end  contact us page  **********/







/********** start about   **********/

.about h3{
    margin-top: 100px;
}
.about img{
    max-width: 100%;
    margin-bottom: 50px;
}
.about p{
    margin-bottom: 50px;
}

.about .btn {
    width: 100px;
    border: 1px solid #09B371;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 30px;
}
.about .btn  a{
    color: #09B371;
}
/********** end about   **********/





/********** start FAQ page  **********/

.faq{
    background: #f4f6f9;
    padding: 100px 0;
}
/********** end FAQ page  **********/